.obajorbapp {
    border-radius: 20%;
}

.discog-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.albumsep {
    
}

.renewal {
    margin-left: 0%;
}

.Blood {
    padding-bottom: 10px;
}

